<div
  class="container"
  style="width: 100%; margin: auto; padding: 10px 0px; text-align: justify"
>
  <div
    class="section vn-language"
    style="margin-bottom: 30px; color: #102131 !important"
  >
    <p>
      Kính gửi Quý Phụ huynh Học sinh
      <strong>{{lead.student_full_name}}</strong>, Lớp <strong>1</strong> (Năm
      học 2025-2026), Số Thứ tự đăng ký:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Trường Wellspring Saigon chân thành cảm ơn Quý Phụ huynh đã đăng ký tham
      dự sự kiện ngày hội trải nghiệm “Cùng con khởi đầu Hạnh phúc” diễn ra vào
      sáng Thứ Bảy này, ngày <strong>22/02/2025</strong>.
    </p>

    <p>
      Để đảm bảo sự kiện diễn ra thuận lợi, Nhà trường xin gửi đến Quý Phụ huynh
      một số thông tin quan trọng liên quan đến lịch trình và các lưu ý như sau:
    </p>

    <ol>
      <li>
        <strong>Nhóm tham gia: {{lead.group_name}}</strong>
        <br />
        <ul>
          <li>Học sinh <strong>{{lead.student_full_name}}</strong></li>
          <li>
            Số thứ tự đăng ký: <strong>{{lead.registration_number}}</strong>
          </li>
          <li>
            Mã QR:
            <div class="qr-code" style="text-align: center; margin: 15px 0">
              <!-- Replace the src with your QR code image URL -->
              <img
                src="{{lead.qr_code}}"
                alt="QR Code"
                style="width: 150px; height: 150px"
              />
            </div>
          </li>
        </ul>

        <p>
          <em
            >Quý Phụ huynh vui lòng lưu ý số <u>nhóm</u> để thuận tiện khi nhận
            <u>Thẻ điểm danh</u> tại khu vực Lễ tân (check-in) và trong suốt quá
            trình trải nghiệm.</em
          >
        </p>
      </li>
      <li>
        <strong>Lịch trình sự kiện:</strong>
        <ul>
          <li>
            <strong>08h15 - 08h45:</strong> Điểm danh và thực hiện các thủ tục
            đăng ký tại Khu vực Lễ tân. Quý Phụ huynh vui lòng đến trường đúng
            giờ và xuất trình tin nhắn xác nhận tại Bảo vệ <u>Cổng B</u>.
          </li>
          <li>
            <strong>09h00 - 11h25:</strong> Thầy/Cô phụ trách sẽ hướng dẫn học
            sinh di chuyển theo số nhóm để tham gia 04 (bốn) Trạm trải nghiệm:
            Khám phá, Sáng tạo, Yêu thương, và Năng động.
          </li>
        </ul>
      </li>

      <li>
        <strong>Lưu ý quan trọng:</strong>
        <ul>
          <li>
            Để đảm bảo trải nghiệm trọn vẹn cho học sinh, sự kiện sẽ bắt đầu
            đúng giờ.
          </li>
          <li>
            Trong trường hợp Quý Phụ huynh và Học sinh đến muộn (sau 09h00), Nhà
            trường rất tiếc chỉ có thể sắp xếp Quý Phụ huynh và Học sinh tham
            gia từ trạm kế tiếp và có thể bỏ lỡ một phần hoạt động.
          </li>
          <li>
            Mỗi Học sinh chỉ được một Phụ huynh đi kèm tham gia quan sát hoạt
            động tại 04 (bốn) Trạm trải nghiệm. Các Phụ huynh còn lại vui lòng
            ngồi chờ tại Khu vực Sảnh chung của Nhà trường trong suốt thời gian
            Học sinh tham gia các hoạt động (từ 09h00 - 11h25).
          </li>
          <li>
            Quý Phụ huynh vui lòng chuẩn bị trang phục thoải mái, co giãn cho
            học sinh để sẵn sàng tham gia các hoạt động tại Trạm Năng động.
          </li>
        </ul>
      </li>
    </ol>

    <p>
      Quý Phụ huynh có thể tham khảo thêm hướng dẫn chi tiết qua hình ảnh đính
      kèm bên dưới. Nhà trường mong nhận được sự phối hợp từ Quý Phụ huynh để
      mang đến một trải nghiệm ý nghĩa và suôn sẻ nhất cho các em học sinh.
    </p>

    <p>
      Nếu cần thêm thông tin, xin vui lòng liên hệ Phòng Tuyển sinh qua hotline
      <strong>0937 099 229</strong> để được hỗ trợ.
    </p>

    <p>
      Chúng tôi rất mong chờ và hân hạnh được đón tiếp Quý Phụ huynh và Học sinh
      tại sự kiện
    </p>

    <p>Trân trọng,</p>
    <p>Hội đồng Tuyển sinh Wellspring Saigon</p>
  </div>

  <div class="flex justify-center">
    <img
      src="/assets/ws_event_page/images/HD_NHTN_VN.jpg"
      alt="huong dan"
      style="max-width: 100%; height: auto"
    />
  </div>

  <hr style="border: none; border-top: 1px solid #ccc; margin: 30px 0" />

  <!-- English Version -->
  <div class="section en-language" style="color: #00539c !important">
    <p>
      Dear Parents of Student
      <strong>{{lead.student_full_name}}</strong>, Grade <strong>1</strong> (SY
      2025-2026), Registration Number:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Thank you for registering to attend the Wellspring Saigon’s Experience Day
      this Saturday morning, <strong>February 22, 2025</strong>.
    </p>

    <p>
      To ensure that the event runs smoothly, we would like to provide you with
      some important information regarding the schedule and guidelines as
      follows:
    </p>

    <ol>
      <li>
        <strong>Participation Group: {{lead.group_name}}</strong>
        <br />
        <ul>
          <li>Student <strong>{{lead.student_full_name}}</strong></li>
          <li>
            Registration Number: <strong>{{lead.registration_number}}</strong>
          </li>
          <li>
            <em>QR Code:</em>
            <div class="qr-code" style="text-align: center; margin: 15px 0">
              <!-- Replace the src with your QR code image URL -->
              <img
                src="{{lead.qr_code}}"
                alt="QR Code"
                style="width: 150px; height: 150px"
              />
            </div>
          </li>
        </ul>

        <p>
          <em
            >Please note your group number for easy check-in at the reception
            area and throughout the experience process.</em
          >
        </p>
      </li>
      <li>
        <strong>Event Schedule:</strong>
        <ul>
          <li>
            <strong>08:15 - 08:45 AM:</strong> Check-in and register according
            to each student's group number at the reception area. Please enter
            and present the confirmation message to the security only at Gate B.
          </li>
          <li>
            <strong>09:00 - 11:25 AM:</strong> Teachers will guide for Students
            move according to the notified group number to participate in four
            (4) experience stations: Discovery, Creativity, Love, and Dynamic.
          </li>
        </ul>
      </li>

      <li>
        <strong>Important Notes:</strong>
        <ul>
          <li>
            To ensure a complete experience for students, the event will start
            on time.
          </li>
          <li>
            In case Parents and Students arrive late (after 09:00 AM), we regret
            that we can only arrange for Students to join from the next station,
            which may result in missing part of the activities.
          </li>
          <li>
            Each student is allowed to have only one accompanying parent
            participate in observing the activities at the four (4) experience
            stations. The remaining parents will wait in the school's common
            lobby area during the time the students are participating in the
            activities (from 09:00 AM to 11:25 AM).
          </li>
          <li>
            Please prepare comfortable and stretchy clothing for your child to
            be ready for the activities at the Dynamism Station.
          </li>
        </ul>
      </li>
    </ol>

    <p>
      Please see more detailed guidelines in the attached images below. The
      school looks forward to your cooperation in ensuring a meaningful and
      smooth experience for the students.
    </p>

    <p>
      For additional information, please contact the Admissions Office via the
      hotline <strong>0937 099 229</strong> for assistance.
    </p>

    <p>We look forward to welcoming you and your child to the event.</p>

    <p>Best regards,</p>
    <p>Wellspring Saigon Admissions Team.</p>
  </div>

  <div class="flex justify-center">
    <img
      src="/assets/ws_event_page/images/HD_NHTN_EN.jpg"
      alt="huong dan"
      style="max-width: 100%; height: auto"
    />
  </div>
</div>
