<div
  class="container"
  style="width: 100%; margin: auto; padding: 10px 0px; text-align: justify"
>
  <div
    class="section vn-language"
    style="margin-bottom: 30px; color: #102131 !important"
  >
    <p>
      Kính gửi Quý Phụ huynh và Học sinh
      <strong>{{lead.student_full_name}}</strong> Số Thứ tự:
      <strong>{{lead.registration_number}}</strong> dự tuyển Lớp 1 Năm học
      2025-2026.
    </p>

    <p>
      Lời đầu tiên, Wellspring Saigon cảm ơn Quý Phụ huynh đã quan tâm và đăng
      ký tham gia chương trình Tuyển sinh "Trưởng thành Hạnh phúc - Kết nối
      Tương lai" năm học 2025-2026.
    </p>

    <p>
      Nhà trường rất trân trọng Quý Phụ huynh đã dành thời gian đưa Em
      <strong>{{lead.student_full_name}}</strong> đến tham gia khảo sát tại
      Wellspring Saigon. Trong quá trình tiếp xúc và trao đổi với Học sinh,
      chúng tôi nhận thấy Em <strong>{{lead.student_full_name}}</strong> thể
      hiện một số ưu điểm nhất định, nhưng rất tiếc em vẫn chưa phù hợp với các
      yêu cầu để tham gia chương trình học tập song ngữ tại Wellspring Saigon
      trong Năm học 2025-2026.
    </p>

    <p>
      Nếu Quý Phụ huynh vẫn mong muốn chọn Wellspring Saigon là môi trường học
      tập cho Em <strong>{{lead.student_full_name}}</strong> trong Năm học kế
      tiếp, chúng tôi xin đề nghị Quý Phụ huynh tạo điều kiện để Học sinh được
      chuẩn bị thêm, và liên hệ lại với Nhà trường vào Tháng 01/2026 để đăng ký
      dự tuyển.
    </p>

    <p>
      Nhà trường hy vọng sẽ sớm được gặp lại và chào đón Em
      <strong>{{lead.student_full_name}}</strong> cùng Gia đình gia nhập cộng
      đồng WISers trong thời gian sớm nhất.
    </p>

    <p>Đính kèm là Báo cáo khảo sát của Học sinh.</p>

    <p>Trân trọng,</p>
    <p>Phòng Tuyển sinh</p>
    <p>
      <strong
        >Hệ thống Trường Phổ thông Liên cấp Song ngữ Quốc tế Wellspring -
        Wellspring Saigon</strong
      >
    </p>
  </div>

  <hr style="border: none; border-top: 1px solid #ccc; margin: 30px 0" />

  <!-- English Version -->
  <div class="section en-language" style="color: #00539c !important">
    <p>
      Dear Parents and Student
      <strong>{{lead.student_full_name}}</strong> Order number:
      <strong>{{lead.registration_number}}</strong> applying for Grade
      <strong>1</strong> in the 2025-2026 school year,
    </p>

    <p>
      First, Wellspring Saigon would like to thank you for your interest and
      registration to participate in the Enrollment Program "A journey of Joyful
      Growth and Future connections" for the academic year 2025-2026.
    </p>

    <p>
      The School greatly appreciates Parents for spending your time taking
      <strong>{{lead.student_full_name}}</strong> to complete the placement test
      at Wellspring Saigon. After having a chance to interact and get to know
      the students, we realized that
      <strong>{{lead.student_full_name}}</strong> shows strengths.
      Unfortunately, <strong>{{lead.student_full_name}}</strong> needs to
      practice more to meet our requirements to participate in the bilingual
      program at Wellspring Saigon for the academic year 2025-2026.
    </p>

    <p>
      If Wellspring Saigon has the privilege to be your desired learning
      destination for <strong>{{lead.student_full_name}}</strong> in the next
      school year, we would like you to assist
      <strong>{{lead.student_full_name}}</strong> in making improvements based
      on comments stated in the report and contact Wellspring Saigon in January
      2026.
    </p>

    <p>
      We look forward to welcoming
      <strong>{{lead.student_full_name}}</strong> to join the WISers community
      as soon as possible.
    </p>

    <p>Kindly find the attachment for the Student Placement Test Report.</p>

    <p>Best regards,</p>
    <p>Admissions Office</p>
    <p>
      <strong
        >Wellspring International Bilingual School - Wellspring Saigon
      </strong>
    </p>
  </div>
</div>
