<style>
  .container {
    width: 100%;
    max-width: max-content;
    margin: auto;
    padding: 10px 0px;
    text-align: justify;
  }
  .container .en-language {
    color: #00539c !important;
  }
  .container .vn-language {
    color: #102131 !important;
  }
  .container p {
    margin: 10px 0;
  }
  .container ol {
    margin: 5px 0px;
  }
  .container ul {
    margin: 5px 0px;
  }
  .container .qr-code {
    text-align: center;
    margin: 15px 0;
  }
  .container .section {
    margin-bottom: 30px;
  }
  .container hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0;
  }
</style>

<div class="container">
  <div class="section vn-language">
    <p>
      Kính gửi Quý Phụ huynh Học sinh
      <strong>{{lead.student_full_name}}</strong>, Số Thứ tự:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Wellspring Saigon cảm ơn Quý Phụ huynh đã quan tâm và đăng ký Chương trình
      Tuyển sinh "Trưởng thành Hạnh phúc - Kết nối tương lai" năm học 2025-2026,
      cũng như lựa chọn Nhà trường là môi trường học tập tiềm năng cho con em
      sắp tới.
    </p>

    <p>
      Tiếp nối Chương trình Tuyển sinh dành cho Học sinh lớp 1, Nhà trường xin
      thông tin chi tiết về chương trình “<strong>Khảo sát đầu vào</strong>” như
      sau:
    </p>

    <ul>
      <li>
        <strong>Thời gian tổ chức:</strong> vào sáng Thứ Bảy (ngày 01/03/2025)
        và các ngày trong tuần (từ ngày 03/03/2025 đến 14/03/2025).
      </li>
      <li>
        <strong>Hình thức khảo sát:</strong> Học sinh sẽ thực hiện Phỏng vấn 1:1
        kéo dài tối đa 30 phút, bao gồm:
        <ul>
          <li>15 phút với Giáo viên Chương trình Quốc tế.</li>
          <li>15 phút với Giáo viên Chương trình Việt Nam.</li>
        </ul>
      </li>
      <li>
        <strong>Hướng dẫn đăng ký:</strong> Quý Phụ huynh vui lòng đăng ký lịch
        khảo sát phù hợp cho Học sinh tại đường dẫn:
        <a href="{{registration_link}}" target="_blank">LINK</a>
      </li>
      <li>
        <strong><u>Lưu ý:</u></strong>
        <ul>
          <li>
            Hệ thống đăng ký đặt lịch khảo sát được thiết lập theo chế độ ưu
            tiên cho những Phụ huynh sắp xếp lịch hẹn và chọn trước; thứ tự sắp
            xếp khung giờ tùy thuộc vào thời điểm.
          </li>
          <li>
            Quý Phụ huynh đăng ký trên Hệ thống. Hệ thống sẽ được đóng tự động
            vào <strong>17:00 giờ Thứ Năm, ngày 27/02/2025.</strong>
          </li>
        </ul>
      </li>
      <li>
        <strong>Phí khảo sát:</strong> 2.000.000 VNĐ/Học sinh/lần khảo sát.
        <p>
          <u>Lưu ý:</u> Phụ huynh vui lòng mang theo 01 hình thẻ Học sinh (kích
          thước 3x4 hoặc 4x6) nếu chưa cung cấp cho Nhà trường khi đăng ký Tuyển
          sinh.
        </p>
      </li>
      <li>
        <strong>Kết quả khảo sát:</strong> Kết quả sẽ được Hội đồng Tuyển sinh
        gửi trực tiếp đến email Phụ huynh dự kiến từ sau ngày 24/03/2025.
      </li>
      <li>
        <strong>Biểu phí và ưu đãi:</strong> Quý Phụ huynh vui lòng tham khảo
        thêm Biểu phí và Chính sách ưu đãi tài chính năm học 2025-2026
        <a
          href="https://wellspring-production.s3.ap-southeast-1.amazonaws.com/WSSG_Bieu_phi_Chinh_sach_uu_dai_Tai_chinh_Fee_Schedule_SY_2025_2026_1_20af38a1b1.pdf"
          target="_blank"
          >tại đây</a
        >.
      </li>
    </ul>

    <p>
      Nếu Quý Phụ huynh có bất kỳ thắc mắc nào hoặc cần thêm thông tin, vui lòng
      liên hệ với Phòng Tuyển sinh qua:
    </p>

    <ul>
      <li><strong>Hotline:</strong> 0937 099 229</li>
      <li><strong>Email:</strong> admissions@wellspringsaigon.edu.vn</li>
    </ul>

    <p>
      Nhà trường rất háo hức chờ đón sự tham gia của các em Học sinh trong
      chương trình khảo sát sắp tới.
    </p>

    <p>Trân trọng cảm ơn,</p>
    <p>Hội đồng Tuyển sinh Wellspring Saigon</p>
  </div>

  <hr />

  <!-- English Version -->
  <div class="section en-language">
    <p>
      Dear Parents of Student
      <strong>{{lead.student_full_name}}</strong>, Order Number:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Thank you for your interest and registration in Wellspring Saigon'
      Enrollment Program school year 2025-2026 "A journey of Joyful Growth and
      Future connections", as a potential learning environment for your
      children.
    </p>

    <p>
      Next, we would now like to provide detailed information regarding the
      upcoming <strong>Placement Test:</strong>
    </p>

    <ul>
      <li>
        <strong>Placement Test Schedule:</strong> Saturday, March 1, 2025, and
        weekdays from March 3, 2025, to March 14, 2025.
      </li>
      <li>
        <strong>Placement Test Format:</strong> Each student will participate in
        a 1:1 interview, lasting a maximum of 30 minutes, consisting of:
        <ul>
          <li>15 minutes with an International Program teacher.</li>
          <li>15 minutes with a Vietnamese Program teacher.</li>
        </ul>
      </li>
      <li>
        <strong>Registration Instructions: </strong> Parents are kindly
        requested to select a suitable placement test schedule for your child
        via the following registration link:
        <a href="{{registration_link}}" target="_blank">LINK</a>
      </li>
      <li>
        <strong><u>Important Notes:</u></strong>
        <ul>
          <li>
            The scheduling system prioritizes parents who book their
            appointments earlier. The available time slots are allocated based
            on the registration time.
          </li>
          <li>
            The system will automatically close at
            <strong>5:00 PM on Thursday, February 27, 2025.</strong>
          </li>
        </ul>
      </li>
      <li>
        <strong>Placement Test Fee:</strong> 2,000,000 VND/student per placement
        test.
        <p>
          <u>Additional Requirements:</u> If not already submitted during the
          application process, parents are kindly requested to bring one student
          ID photo (size 3x4 cm or 4x6 cm) on the placement test day.
        </p>
      </li>
      <li>
        <strong>Placement Test Results:</strong> The Admissions Office will send
        the placement test results directly to the parent's registered email
        starting from March 24, 2025.
      </li>
      <li>
        <strong>Fees Schedule & Financial Incentive Policy:</strong> Parents may
        refer to the Fee Schedule and Financial Incentive Policy 2025-2026 [<a
          href="https://wellspring-production.s3.ap-southeast-1.amazonaws.com/WSSG_Bieu_phi_Chinh_sach_uu_dai_Tai_chinh_Fee_Schedule_SY_2025_2026_1_20af38a1b1.pdf"
          target="_blank"
          >here</a
        >].
      </li>
    </ul>

    <p>
      For any inquiries or further information, please do not hesitate to
      contact the Admissions Office via:
    </p>

    <ul>
      <li><strong>Hotline:</strong> 0937 099 229</li>
      <li><strong>Email:</strong> admissions@wellspringsaigon.edu.vn</li>
    </ul>

    <p>
      We look forward to welcoming our young learners to the upcoming placement
      test.
    </p>

    <p>Best regards,</p>
    <p>Wellspring Saigon Admission Team</p>
  </div>
</div>
