<div
  class="container"
  style="width: 100%; margin: auto; padding: 10px 0px; text-align: justify"
>
  <div
    class="section vn-language"
    style="margin-bottom: 30px; color: #102131 !important"
  >
    <p>
      Kính gửi Quý Phụ huynh Học sinh
      <strong>{{lead.student_full_name}}</strong>, Số thứ tự:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Wellspring Saigon cảm ơn Quý Phụ huynh đã quan tâm và đăng ký tham gia
      chương trình Tuyển sinh "Trưởng thành Hạnh phúc - Kết nối Tương lai" dành
      cho Học sinh Lớp 1 năm học 2025-2026, cũng như lựa chọn Nhà trường là môi
      trường học tập tiềm năng cho con em sắp tới.
    </p>

    <p>
      Tiếp theo, Nhà trường xin thông tin chi tiết về chương trình “<strong
        >Khảo sát đầu vào</strong
      >” như sau:
    </p>

    <ul>
      <li>
        <strong>Thời gian tổ chức:</strong> vào sáng Thứ Bảy (ngày 01/03/2025)
        và các ngày trong tuần (từ Thứ Hai ngày 03/03/2025 đến Thứ Sáu ngày
        14/03/2025).
      </li>
      <li>
        <strong>Hình thức khảo sát:</strong> Học sinh sẽ được Phỏng vấn trực
        tiếp 1:1 tối đa 30 phút, bao gồm:
        <ul>
          <li>15 phút với Giáo viên Chương trình Quốc tế.</li>
          <li>15 phút với Giáo viên Chương trình Việt Nam.</li>
        </ul>
      </li>
      <li>
        <strong>Hướng dẫn đăng ký:</strong> Quý Phụ huynh vui lòng đăng ký
        <u>lịch khảo sát</u> phù hợp cho Học sinh tại đường dẫn:
        <p>
          <a
            class="btn btn-primary"
            href="{{registration_link}}"
            target="_blank"
            >Form Đăng Ký</a
          >
        </p>
        <p>
          <em>
            <u>Lưu ý:</u> Form đăng ký được thiết lập theo chế độ ưu tiên cho
            những Phụ huynh sắp xếp lịch hẹn và lựa chọn trước; thứ tự sắp xếp
            khung giờ tùy thuộc vào thời điểm Quý Phụ huynh đăng ký trên Hệ
            thống. Form đăng ký sẽ được đóng tự động vào
            <span style="color: #f05023">
              17:00 giờ Thứ Năm, ngày 27/02/2025</span
            >.
          </em>
        </p>
      </li>
      <li>
        <strong>Phí khảo sát:</strong> 2.000.000 VNĐ/Học sinh/lần khảo sát.
        <p>
          <em
            ><u>Lưu ý:</u> Phụ huynh vui lòng mang theo 01 hình thẻ Học sinh
            (kích thước 3x4 hoặc 4x6) nếu chưa cung cấp cho Nhà trường khi đăng
            ký Tuyển sinh.</em
          >
        </p>
      </li>
      <li>
        <strong>Kết quả khảo sát:</strong> Kết quả sẽ được gửi trực tiếp đến
        email Phụ huynh, dự kiến từ sau ngày 24/03/2025.
      </li>
      <li>
        <strong>Biểu phí và ưu đãi:</strong> Quý Phụ huynh tham khảo thêm Biểu
        phí và Chính sách ưu đãi tài chính năm học 2025-2026
        <a
          href="https://wellspring-production.s3.ap-southeast-1.amazonaws.com/WSSG_Bieu_phi_Chinh_sach_uu_dai_Tai_chinh_Fee_Schedule_SY_2025_2026_1_20af38a1b1.pdf"
          target="_blank"
          >tại đây</a
        >.
      </li>
    </ul>

    <p>
      Quý Phụ huynh có bất kỳ thắc mắc nào hoặc cần thêm thông tin, vui lòng
      liên hệ với Phòng Tuyển sinh qua:
    </p>

    <ul>
      <li>
        <span style="width: 10px; margin-right: 5px">📞</span
        ><strong>Hotline:</strong> 0937 099 229
      </li>
      <li>
        <span style="width: 10px; margin-right: 5px">✉️</span
        ><strong>Email:</strong> admissions@wellspringsaigon.edu.vn
      </li>
    </ul>

    <p>
      Nhà trường rất háo hức chờ đón sự tham gia của các em Học sinh trong
      chương trình khảo sát sắp tới.
    </p>

    <p>Trân trọng cảm ơn,</p>
    <p><strong>Hội đồng Tuyển sinh Wellspring Saigon</strong></p>
  </div>

  <hr style="border: none; border-top: 1px solid #ccc; margin: 30px 0" />

  <!-- English Version -->
  <div class="section en-language" style="color: #00539c !important">
    <p>
      Dear Parents of Student
      <strong>{{lead.student_full_name}}</strong>, Order Number:
      <strong>{{lead.registration_number}}</strong>,
    </p>

    <p>
      Thank you for your interest and registration in Wellspring Saigon’
      Enrollment Program school year 2025-2026 "A journey of Joyful Growth and
      Future connections", as a potential learning environment for your
      children.
    </p>

    <p>
      Next, we would now like to provide detailed information regarding the
      upcoming <strong>Placement Test:</strong>
    </p>

    <ul>
      <li>
        <strong>Schedule:</strong> on Saturday (March 1st 2025), and weekdays
        (from Monday March 3rd 2025 to Friday March 14th 2025).
      </li>
      <li>
        <strong>Format:</strong> Each student will participate in a 1:1 directly
        interview, maximum of 30 minutes, including:
        <ul>
          <li>15 minutes with an International Program teacher.</li>
          <li>15 minutes with a Vietnamese Program teacher.</li>
        </ul>
      </li>
      <li>
        <strong>Registration Instructions:</strong> Parents are kindly requested
        to select a suitable placement test schedule for your child via the
        following registration link:
        <p style="display: flex; justify-content: center">
          <a
            class="btn btn-primary"
            href="{{registration_link}}"
            target="_blank"
            >Registration Form</a
          >
        </p>
        <p>
          <em>
            <u>Notes:</u> The registration form operates on a first-come,
            first-served basis. The available time slots will be assigned based
            on the time of registration. The form will automatically close at
            <span style="color: #f05023"
              >5:00 PM on Thursday, February 27th 2025.</span
            >
          </em>
        </p>
      </li>
      <li>
        <strong>Placement Test Fee:</strong> 2,000,000 VND/student per placement
        test.
        <p>
          <em
            ><u>Notes:</u> Parents are requested to bring one student ID photo
            (size 3x4 cm or 4x6 cm) if it has not been submitted during the
            enrollment process.</em
          >
        </p>
      </li>
      <li>
        <strong>Placement Test Results:</strong> The Admissions Office will send
        the placement test results directly to the parent's registered email
        starting from March 24, 2025.
      </li>
      <li>
        <strong>Fees Schedule & Financial Incentive Policy:</strong> Parents may
        refer to the Fee Schedule and Financial Incentive Policy 2025-2026
        <a
          href="https://wellspring-production.s3.ap-southeast-1.amazonaws.com/WSSG_Bieu_phi_Chinh_sach_uu_dai_Tai_chinh_Fee_Schedule_SY_2025_2026_1_20af38a1b1.pdf"
          target="_blank"
          >here</a
        >.
      </li>
    </ul>

    <p>
      For any inquiries or further information, please do not hesitate to
      contact the <strong>Admissions Office</strong> via:
    </p>

    <ul>
      <li>
        <span style="width: 10px; margin-right: 5px">📞</span
        ><strong>Hotline:</strong> 0937 099 229
      </li>
      <li>
        <span style="width: 10px; margin-right: 5px">✉️</span
        ><strong>Email:</strong> admissions@wellspringsaigon.edu.vn
      </li>
    </ul>

    <p>
      We look forward to welcoming our young learners to the upcoming placement
      test.
    </p>

    <p>Best regards,</p>
    <p><strong>Wellspring Saigon Admission Team</strong></p>
  </div>
</div>
