<div
  class="wrapper"
  style="
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    text-align: justify;
    background: url('https://wisers.wellspringsaigon.edu.vn/files/bg-ws-torch.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 110% 40vh;
  "
>
  <div class="header">
    <table width="100%">
      <tr>
        <td align="left">
          <img
            style="width: 35%; max-width: 200px; height: auto"
            src="https://wisers.wellspringsaigon.edu.vn/files/logo_primary.png"
            alt="logo wellspring"
          />
        </td>
        <td align="right">
          <img
            style="width: 32%; max-width: 180px; height: auto"
            src="https://wisers.wellspringsaigon.edu.vn/files/logo_happy_journey2d9624.png"
            alt="logo happy journey"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="section vn-language" style="margin-bottom: 30px">
    <span class="im">
      <h1 style="text-align: center">
        <span style="color: #009582"
          >CHUẨN BỊ SẴN SÀNG CHO SỰ KIỆN HAPPY RUN 2025</span
        >
      </h1>
      <h2 style="text-align: center">
        <span style="color: #172a52">“SET YOUR PACE, EMBRACE WELLNESS”</span>
      </h2>
      <h3 style="text-align: center; color: #3b6dae">
        GET READY FOR HAPPY RUN 2025 “SET YOUR PACE, EMBRACE WELLNESS”
      </h3>
    </span>
    <p style="margin: 0 0 10px">Các WISers ơi,</p>
    <p style="margin: 0 0 10px">
      Chỉ còn 01 ngày nữa sự kiện Happy run 2025 “Set your pace - Embrace
      wellness” sẽ chính thức bắt đầu với nhiều trải nghiệm và thử thách thú vị
      đang đợi bạn chinh phục cùng đồng đội. Hãy cùng nhau chuẩn bị thật tốt để
      trải nghiệm trọn vẹn nhất tại sự kiện nhé!
    </p>
    <p>
      💡
      <span style="margin: 0 1px; font-weight: bold"
        >Hãy chuẩn bị thật tốt</span
      >
      để tận hưởng từng khoảnh khắc trọn vẹn nhất!
    </p>
    <p>
      🎯
      <span style="margin: 0 1px; font-weight: bold"
        >Hẹn gặp bạn tại vạch xuất phát cùng những trải nghiệm đáng nhớ!</span
      >
    </p>
    <p>
      📍
      <span style="margin: 0 1px; font-weight: bold"
        >Thời gian & địa điểm:</span
      >
      7:00 - 10:00 | Ngày 29/03/2025 |
      <span style="margin: 0 1px; font-weight: bold">Wellspring Saigon</span>
    </p>
    <p>
      🏆
      <span style="margin: 0 1px; font-weight: bold"
        >Sẵn sàng bứt phá, lan tỏa tinh thần thể thao & khởi động mùa hè đầy cảm
        hứng nhé!</span
      >
    </p>
    <p style="color: #fb6d23">
      Hẹn gặp lại bạn tại Happy Run 2025 với những trải nghiệm thật thú vị đang
      chờ đón!
    </p>
    <p style="color: #fb6d23; font-weight: bold">Ban tổ chức Happy Run 2025</p>
  </div>

  <div style="border-top: 1px solid #cccccc; margin: 20px 0"></div>

  <!-- English Version -->
  <div class="section en-language">
    <p style="margin: 0 0 10px">Hey WISers,</p>
    <p style="margin: 0 0 10px">
      Only 1 day left until the Happy Run 2025 “Set your pace - Embrace
      wellness” event will officially begin with many interesting experiences
      and challenges waiting for you to conquer with your teammates. Let's
      prepare well together to enjoy the event to the fullest!
    </p>
    <p>
      💡
      <span style="margin: 0 1px; font-weight: bold"
        >Make sure you’re well-prepared</span
      >
      to enjoy every moment to the fullest!
    </p>
    <p>
      🎯
      <span style="margin: 0 1px; font-weight: bold"
        >See you at the starting line for an unforgettable experience!</span
      >
    </p>
    <p>
      📍
      <span style="margin: 0 1px; font-weight: bold">Time & Location:</span>7:00
      - 10:00 | March 29, 2025 |<span style="margin: 0 1px; font-weight: bold"
        >Wellspring Saigon</span
      >
    </p>
    <p>
      🏆
      <span style="margin: 0 1px; font-weight: bold"
        >Get ready to push your limits, embrace the sports spirit & kick off an
        inspiring summer!</span
      >
    </p>
    <p style="color: #fb6d23">
      Looking forward to seeing you all at Happy Run 2025 with exciting
      experiences!
    </p>
    <p style="color: #fb6d23; font-weight: bold">
      Happy Run 2025 Organizing Team
    </p>
  </div>
</div>
