<div class="container text-center" style="text-align: center; color: #172a52">
  <div>
    <h1 style="text-align: center">
      <span style="color: #f05023">BẠN ĐÃ ĐĂNG KÝ THÀNH CÔNG</span>
      <br />
      <span style="color: #172a52">SỰ KIỆN</span
      ><span style="color: #f5aa1e"> HAPPY RUN 2025</span>
    </h1>
    <h3 style="text-align: center; color: #3b6dae">
      YOU HAVE SUCCESSFULLY REGISTERED HAPPY RUN 2025 EVENT
    </h3>
    <p>
      Mã đơn hàng | <em>Order ID</em>:
      <span style="color: #f05023; font-weight: bold">{{order_id}}</span>
    </p>
    <!-- Order detail -->
    <table
      class="table"
      style="background-color: azure; border: 1px solid #3b6dae"
    >
      <thead style="background: #3b6dae45; font-size: 12px">
        <tr>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="20"
          >
            #
          </th>
          <th scope="col" style="border-color: #3b6dae; color: #172a52">
            Họ tên <br />
            <em>Full name</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="140"
          >
            Hạng vé <br />
            <em>Ticket type</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="100"
          >
            Size áo <br />
            <em>T-shirt size</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="80"
          >
            BIB
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="80"
          >
            Giá vé <br />
            <em>Price</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="100"
          >
            Trạng thái <br />
            <em>Status</em>
          </th>
        </tr>
      </thead>
      <tbody style="color: #3d517b">
        {% for ticket in tickets %}
        <tr>
          <th style="border-color: #3b6dae" scope="row">{{loop.index}}</th>
          <td style="border-color: #3b6dae">{{ticket.full_name}}</td>
          <td style="border-color: #3b6dae">
            {{ticket.ticket_type}} - {{ticket.distance}}
          </td>
          <td style="border-color: #3b6dae">{{ticket.shirt_size}}</td>
          <td style="border-color: #3b6dae">
            {% if ticket.ticket_type == "Well-being" %} {{ticket.bib}} {% endif
            %}
          </td>
          <td style="border-color: #3b6dae">{{ticket.ticket_price}}</td>
          <td style="border-color: #3b6dae">{{ticket.status}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Payment details -->
    <div class="text-right" style="margin-top: 20px">
      <p style="color: #172a52">
        Tổng tiền | <em>Total price</em>: <strong>{{total_price}}</strong>
      </p>
      {% if total_payment_pending != total_price %}
      <p style="color: #172a52">
        Cần thanh toán | <em>Payment Required</em>:
        <strong>{{total_payment_pending}}</strong>
      </p>
      {% endif %}
    </div>

    <!-- QR code -->
    <div class="text-center" style="margin-top: 20px">
      <p class="text-center" style="color: #172a52">
        Vui lòng thực hiện thanh toán đơn hàng bằng mã QR dưới đây:
        <br />
        <span style="color: #3b6dae"
          ><em
            >Please complete your order payment by the below QR Code:</em
          ></span
        >
      </p>
      <p class="text-center" style="color: #172a52">
        Lưu ý: Xác nhận thanh toán thành công sẽ gửi về email 1-2 ngày sau khi
        tiến hành thanh toán (không bao gồm cuối tuần).

        <br />
        <span style="color: #3b6dae"
          ><em
            >Note: A payment confirmation will be sent to your email within 1-2
            days after completing your payment (excluding weekends).</em
          ></span
        >
      </p>
    </div>
    <div class="text-center" style="margin: 20px 0">{{ qr_code_img_tag }}</div>

    <!-- Bank info -->
    <div class="text-center" style="margin: 20px 0">
      <span style="color: #006882; font-weight: bold">{{bank_name}}</span>
      <br />
      <span
        >Tên Tài Khoản | <em>Account Name</em>:
        <strong>{{account_name}}</strong></span
      >
      <br />
      <span
        >Số Tài Khoản | <em>Account Number</em>:
        <strong>{{account_number}}</strong></span
      >
      <br />
      <span
        >Nội dung chuyển khoản | <em>Details of Payment</em>:
        <strong>{{transaction_notes}}</strong></span
      >
    </div>

    <p class="text-center" style="margin-top: 20px; color: #172a52">
      <em>Bạn có thể theo dõi trạng thái đơn bằng đường link sau:</em>

      <br />
      <span style="color: #3b6dae"
        ><em>You can track your order status by the following link:</em></span
      >
      <br />
      <a href="{{order_detail_link}}" target="_blank"
        >Chi tiết đơn hàng | Order Detail</a
      >
    </p>

    <p class="text-center" style="margin-top: 20px; color: #172a52">
      Xin chân thành cảm ơn và hẹn gặp lại các bạn tại sự kiện Happy Run 2025!
      <br />
      <span style="color: #3b6dae">
        <em> Thank you and see you at Happy Run 2025 event! </em>
      </span>
    </p>
  </div>
</div>
