<div class="container text-center" style="text-align: center; color: #172a52">
  <div>
    <h1 style="text-align: center">
      <span style="color: #f05023">ĐƠN ĐĂNG KÝ CỦA BẠN ĐÃ ĐƯỢC HUỶ</span>
      <br />
      <span style="color: #172a52">SỰ KIỆN</span
      ><span style="color: #f5aa1e"> HAPPY RUN 2025</span>
    </h1>
    <h3 style="text-align: center; color: #3b6dae">
      YOUR REGISTRATION HAS BEEN CANCELLED FOR HAPPY RUN 2025 EVENT
    </h3>
    <p>
      Mã đơn hàng | <em>Order ID</em>:
      <span style="color: #f05023; font-weight: bold">{{order_id}}</span>
    </p>
    <!-- Order detail -->
    <table
      class="table"
      style="background-color: azure; border: 1px solid #3b6dae"
    >
      <thead style="background: #3b6dae45; font-size: 12px">
        <tr>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="20"
          >
            #
          </th>
          <th scope="col" style="border-color: #3b6dae; color: #172a52">
            Họ tên <br />
            <em>Full name</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="140"
          >
            Hạng vé <br />
            <em>Ticket type</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="100"
          >
            Size áo <br />
            <em>T-shirt size</em>
          </th>
          <th
            scope="col"
            style="border-color: #3b6dae; color: #172a52"
            width="100"
          >
            Giá vé <br />
            <em>Price</em>
          </th>
        </tr>
      </thead>
      <tbody style="color: #3d517b">
        {% for ticket in tickets %}
        <tr>
          <th style="border-color: #3b6dae" scope="row">{{loop.index}}</th>
          <td style="border-color: #3b6dae">{{ticket.full_name}}</td>
          <td style="border-color: #3b6dae">
            {{ticket.ticket_type}} - {{ticket.distance}}
          </td>
          <td style="border-color: #3b6dae">{{ticket.shirt_size}}</td>
          <td style="border-color: #3b6dae">{{ticket.ticket_price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Payment details -->
    <div class="text-right" style="margin-top: 20px">
      <p style="color: #172a52">
        Tổng tiền | <em>Total price</em>: {<strong>{total_price}}</strong>
      </p>
    </div>

    <p class="text-center" style="margin-top: 20px; color: #172a52">
      <em>Bạn có thể theo dõi trạng thái đơn bằng đường link sau:</em>

      <br />
      <span style="color: #3b6dae"
        ><em>You can track your order status by the following link:</em></span
      >
      <br />
      <a href="{{order_detail_link}}" target="_blank"
        >Chi tiết đơn hàng | Order Detail</a
      >
    </p>

    <p class="text-center" style="margin-top: 20px; color: #172a52">
      Xin chân thành cảm ơn và hẹn gặp lại các bạn ở các sự kiện lần sau tại
      Wellspring!
      <br />
      <span style="color: #3b6dae">
        <em>
          Thank you very much and see you at the next events at Wellspring!
        </em>
      </span>
    </p>
  </div>
</div>
