@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 38% 97%;
    --foreground: 0 0% 30%;
    --muted: 225 10% 91.7%;
    --muted-foreground: 225 5% 41.7%;
    --popover: 225 100% 100%;
    --popover-foreground: 225 10% 0.8500000000000001%;
    --card: 225 100% 100%;
    --card-foreground: 198 31% 95%;
    --border: 225 15% 89.68%;
    --input: 225 15% 89.68%;
    --primary: 212 100% 17%;
    --primary-foreground: 225 2% 91.7%;
    --secondary: 225 5% 95.85%;
    --secondary-foreground: 225 7% 11.7%;
    --accent: 225 5% 95.85%;
    --accent-foreground: 225 7% 11.7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 225 100% 17%;
    --radius: 0.5rem;
    --container-padding: 1.25rem;
    --gradient-o-y: linear-gradient(74.97deg, #faa61a 0%, #ffcd00 93.5%);
    --gradient-t-s: linear-gradient(254.54deg, #009684 0%, #006882 100.65%);
    --gradient-s-p: linear-gradient(254.97deg, #006882 0%, #002855 100%);

    --brand-primary: 212 100% 17%;
    --brand-secondary: 192 100% 25%;
    --brand-teal: 173 100% 29%;
    --brand-green: 89 64% 34%;
    --brand-orange: 13 86% 54%;
    --brand-blue: 204 83% 55%;
    --brand-yellow: 38 96% 54%;
    --brand-red: 0 100% 50%;
    --brand-violet: 270 98% 36%;

    --page-foreground: 0 0% 30%;
    --page-cream: 31 100% 92%; /* #FFECD8 */
    --page-red: 359 70% 30%; /* #6A0809 */
    --page-honey: 39 100% 55%; /* #FFAD18 */
    --page-brick: 22 100% 62%; /* #FF843E */
    --page-deep-blue: 221 56% 21%; /* #172A52 */
    --page-mint: 63 46% 83%; /* #E6E8C1 */
    --page-light-yellow: 51 71% 73%; /*  #EBDC87*/
    --page-light-red: 359 57% 49%; /*  #C63638*/

    --success: 89 64% 34%;
    --danger: 0 100% 50%;

    --scroll-thumb: 212 100% 17%;
    --scroll-track: 0 0% 0%;
  }

  .dark {
    --background: 231 30% 16%;
    --foreground: 220 9% 70%;
    --card: 231 30% 22%;
    --card-foreground: 219 40% 25%;
    --popover: 231 30% 28%;
    --popover-foreground: 220 9% 70%;
    --primary: 13 86% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 13%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 219 40% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 12% 26%;
    --input: 220 8% 47%;
    --ring: 192 100% 20%;

    --brand-primary: 212 100% 17%;
    --brand-secondary: 192 100% 25%;
    --brand-teal: 173 100% 29%;
    --brand-green: 89 64% 34%;
    --brand-orange: 13 86% 54%;
    --brand-blue: 204 83% 55%;
    --brand-yellow: 38 96% 54%;
    --brand-red: 0 100% 50%;
    --brand-violet: 270 98% 50%;

    --page-foreground: 0 0% 30%;
    --page-cream: 31 100% 92%; /* #FFECD8 */
    --page-red: 359 70% 30%; /* #6A0809 */
    --page-honey: 39 100% 55%; /* #FFAD18 */
    --page-brick: 22 100% 62%; /* #FF843E */
    --page-deep-blue: 221 56% 21%; /* #172A52 */
    --page-mint: 63 46% 83%; /* #E6E8C1 */
    --page-light-yellow: 51 71% 73%; /*  #EBDC87*/
    --page-light-red: 359 57% 49%; /*  #C63638*/

    --success: 89 64% 34%;
    --danger: 0 100% 50%;

    --scroll-thumb: 220 9% 50%;
    --scroll-track: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--scroll-thumb));
    scroll-behavior: smooth;
  }
  html{
    overflow-x: hidden;
  }
  body {
    @apply text-happy_box-foreground;
    @apply font-tropen;
    /* overflow-x: hidden; */
    @apply !min-w-[100vw];
    scroll-behavior: smooth;
  }
}

@layer base {
  @font-face {
    font-family: "Playlist";

    src: url(/happy-box/fonts/playlist-script.ttf);
  }
  @font-face {
    font-family: "Tropen";
    ascent-override: 90%; /* Điều chỉnh chiều cao phần trên */
    descent-override: 20%; /* Điều chỉnh chiều cao phần dưới */
    line-gap-override: 0%; /* Bỏ khoảng cách dòng */
    src: url(/happy-box/fonts/tropen.otf);
  }
  @font-face {
    font-family: "Race Champion";
    src: url(/happy-run/fonts/race_champion.ttf);
    ascent-override: 90%; /* Điều chỉnh chiều cao phần trên */
    descent-override: 20%; /* Điều chỉnh chiều cao phần dưới */
    line-gap-override: 0%; /* Bỏ khoảng cách dòng */
  }
}

@layer components {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .bg-scroll{
    @apply bg-[linear-gradient(90deg,_#981F20_0%,_#E55450_33%,_#931B1C_100%)]
  }
  .bg-scroll-golden{
    @apply bg-[linear-gradient(90deg,_#BC8824_0%,_#FCECA1_47%,_#B98520_100%)]
  }
}

:root {
  --sidebar-width: 16rem;
}
