{% block page_content %}

<div class="container page-body">
  <form id="checkin-form">
    <input
      type="text"
      id="lead-id"
      class="form-control"
      placeholder="Enter Registration Number"
    />
  </form>

  <div id="lead-info" class="page-content"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#checkin-form").submit(function (e) {
        e.preventDefault();
        var leadId = $("#lead-id").val();

        frappe.call({
          method:
            "ws_event_page.api.event.admission_checkin.lead.get_lead_info",
          args: {
            lead_id: leadId,
          },
          callback: function (r) {
            if (r.message) {
              var lead = r.message;
              var leadInfo = `
                <div class="lead-info">
                  <h3>${lead.registration_number} - ${lead.student_full_name}</h3>
                  <p>${lead.contact_email}</p>
                  <p>${lead.mobile_number}</p>
                  <p>${lead.parent_full_name}</p>
                  <p>${lead.student_grade}</p>
                </div>
              `;
              $("#lead-info").html(leadInfo);
            } else {
              $("#lead-info").html("<p>Lead not found</p>");
            }
          },
        });
      });
    });
  </script>
</div>
{% endblock %}
